langchain
langchain-core
langchain-huggingface
huggingface-hub
langchain-openai
openai
google-generativeai
langchain-google-genai
langchain-anthropic
anthropic
python-dotenv
scikit-learn
numpy
streamlit